.About .aboutText {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 8vh;
}

.About .ourAcitvityImg {
    width: 38vw;
    margin-bottom: 3%;
}

.About b {
    font-family: 'Heebo' !important;
    font-weight: bolder !important;
    font-size: xx-large;
}