.APP1 {
    background: url(../assets/purpleSpots.png) repeat left top, linear-gradient(to bottom left, rgb(41, 3, 28), rgb(124, 51, 98));
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 100vh;
    width: 99.8vw;
}