.wrapApplyModal {
    margin: auto;
}

.wrapApplyModal .backgroundAll {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    /* height: 90vh; */
    /* width: 30vw; */
    /* margin-right: 3vw; */
    margin: 5%;
    min-height: 85vh;
}

.wrapApplyModal .wantCampaign {
    color: #45022D;
    font-size: 45px;
    letter-spacing: -2px;
    word-spacing: 0px;
    margin-bottom: 2vh;
    padding-top: 7.5vh;
}

.wrapApplyModal .new {
    color: #45022D;
    font-weight: bolder;
    font-size: 85px;
    letter-spacing: 200px;
    word-spacing: normal;
    line-height: 0px;
    text-decoration: underline #FAE01A;
}

.wrapApplyModal .applyNewCampaign {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 20px;
}

.wrapApplyModal .inputText {
    width: 20vw !important;
    height: 35vh !important;
    background-color: #e3dce0;
}

@keyframes fadeAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapApplyModal .btnSend {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #FAE01A;
    font-weight: bolder;
    border: rgba(255, 255, 255, 0);
    font-size: 20px;
    animation-name: fadeAnim;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    padding-bottom: 2vh;
}

/* .backgroundApplyModal {
    background-image: linear-gradient(to bottom left, rgb(41, 3, 28), rgb(124, 51, 98));
} */

.modal-content {
    background: linear-gradient(to bottom left, rgb(41, 3, 28), rgb(124, 51, 98)) !important;
}

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    background-color: #e3dce0;
}

.xCloseImg {
    width: 3vw;
    position: absolute;
    cursor: pointer;
    top: 3%;
    left: 3%;
}