.wrapApplyModal {
    margin: auto;
}

.wrapApplyModal .backgroundAll {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    min-height: 85vh;
}

.wrapApplyModal .applyNewCampaign {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 18px;
}

.wrapApplyModal .inputText,.wrapApplyModal .inputText:focus {
    width: 19vw !important;
    height: 33vh !important;
    /* background-color: #e3dce0; */
    background: unset;
    border: unset;
    box-shadow: unset;
    /* cursor:text; */
    
}

@keyframes fadeAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapApplyModal .btnSend {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #FAE01A;
    font-weight: bolder;
    border: rgba(255, 255, 255, 0);
    font-size: 20px;
    animation-name: fadeAnim;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    padding-bottom: 1.3vh;
}

.modal-content {
    background: linear-gradient(to bottom left, rgb(41, 3, 28), rgb(124, 51, 98)) !important;
    border-radius: 30px;
    min-height: 85vh;
    width: 35vw;
}

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    background-color: #e3dce0;
}

.xCloseImg {
    width: 3vw;
    position: absolute;
    cursor: pointer;
    top: 4%;
    left: 4%;
}