.nav-link {
    color: #FFFF !important;
    padding: .1rem !important;
    margin: 10px;
    /* transition: all 0.4s ease-in; */
}

.Nav {
    margin: unset !important;
    height: 10vh;
}

.navbar-brand {
    margin: unset !important;
    color: #FAE01A !important;
    font-size: 20px;
    z-index: 3;
}

.nav-link:hover {
    /* transition: all 0.4s ease-in; */
    /* transform: translateY(2px); */
    color: #FAE01A !important;
}

.navLinkActive {
    color: #FAE01A !important;
}

.linksMenu {
    z-index: 3;
}